# Pandas

In [2]:
import pandas as pd

## 1. 시리즈 (Series)

In [3]:
s = pd.Series([9904312,3448737,2000451,246052],
        index=['서울', '부산', '인천', '대구'])
s

서울    9904312
부산    3448737
인천    2000451
대구     246052
dtype: int64

In [4]:
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

In [6]:
s.index #메소드 형태가 아닌 특성(attribute)이라 뒤에 가로가 안붙음

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [7]:
s.values

array([9904312, 3448737, 2000451,  246052], dtype=int64)

In [8]:
# name 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있음
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2000451
대구     246052
Name: 인구, dtype: int64

- 시리즈 연산

In [9]:
s / 100000

도시
서울    99.04312
부산    34.48737
인천    20.00451
대구     2.46052
Name: 인구, dtype: float64

- 시리즈 인덱싱

In [10]:
s[0], s['서울']

(9904312, 9904312)

In [11]:
# 부분적인 값을 갖는 시리즈
s[[0,2]]

도시
서울    9904312
인천    2000451
Name: 인구, dtype: int64

In [12]:
s[['부산','대구']]

도시
부산    3448737
대구     246052
Name: 인구, dtype: int64

In [13]:

s[1:3]

도시
부산    3448737
인천    2000451
Name: 인구, dtype: int64

In [14]:
# 문자열 라벨을 이용하면 : 뒤의 값도 포함
s['부산':'대구']

도시
부산    3448737
인천    2000451
대구     246052
Name: 인구, dtype: int64

In [15]:
s[s < 3000000]

도시
인천    2000451
대구     246052
Name: 인구, dtype: int64

- 편리한 인덱싱

In [18]:
s.서울, s.대구

(9904312, 246052)

In [20]:
'서울' in s

True

In [16]:
for k, v in s.items():
    print(f'{k} = {v}')

서울 = 9904312
부산 = 3448737
인천 = 2000451
대구 = 246052

In [17]:
fruits = {'apple':1000, 'banana':2000, 'cherry':3000}
f = pd.Series(fruits)
f

apple     1000
banana    2000
cherry    3000
dtype: int64

- 데이터 프레임

In [22]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df = pd.DataFrame(data, index=index, columns=columns)
df
# 따로 할 경우
#index = ['서울','부산','인천','대구']
#df.index = index
#df
#columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
#df = pd.DataFrame(data, index=index, columns=columns)
#df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [23]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [24]:
df.index.name = "도시"
df.columns.name = "특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [25]:
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

- 열데이터

In [26]:
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [27]:
df.지역

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [28]:
# 새로운 열을 생성할 경우에는 사용할 수 없음
df.temp = [1, 2, 3, 4]

<ipython-input-28-e10bf7be8936>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.temp = [1, 2, 3, 4]

In [29]:
df['temp'] = [1,2,3,4]
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

In [30]:
df.temp = [5,6,7,8]
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

In [31]:
del df['temp']

- 열 인덱싱

In [32]:
df['2010']
# 하나의 열만 인덱싱하면 시리즈가 반환

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [34]:
df[['2010', '2015']]  # 이렇게 하면 df -> 리스트 써서 인덱싱하면 df 반환f[['2010', '2015']]  # 이렇게 하면 df -> 리스트 써서 인덱싱하면 df 반환

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [35]:
df[['2010']]

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

- 행 인덱싱

In [36]:
df[:1] #슬래싱 써야함

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283

In [37]:
df['서울':'부산']

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163

- 개별 데이터 인덱싱

In [38]:
df['지역']['서울']

'수도권'

In [39]:
df.지역.서울

'수도권'

In [40]:
# 익숙해지면 이렇게 사용
df.지역[0]

'수도권'

In [41]:
# 가장 보편적으로 사용됨
df['2015'][1]      #부산

3448737