- loc 인덱서

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [5]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [6]:
df.loc['a':'b']

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [7]:
df['a':'b']

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [8]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [9]:
# Boolean index도 사용 가능
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [10]:
df.loc['c', 'D'], df['D']['c']

(21, 21)

In [11]:
# 슬라이싱
df.loc['b':, 'C':]

    C   D
b  16  17
c  20  21

- iloc 인덱서

In [12]:
df.iloc[1:, 2:]     # 넘파이 인덱싱과 동일

    C   D
b  16  17
c  20  21

In [13]:
df.iloc[-1, -1]

21

In [14]:
df.iloc[0]

A    10
B    11
C    12
D    13
Name: a, dtype: int32